/* @font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Medium.otf");
  font-weight: 500;
} */

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/subset-SFProDisplay-Medium.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
