html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", "sans-serif", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
}

input,
textarea {
  font-family: "Inter", "sans-serif", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none !important;
}

p {
  margin-top: 0px;
}

hr {
  border-style: solid;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 32;
  font-weight: 600;
  line-height: 40px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.small {
  font-size: 14px;
  line-height: 18px;
}

.hide-mobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.hide-desktop {
  @media (min-width: 769px) {
    display: none !important;
  }
}

.underline-pattern {
  display: inline-block;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0px;
    width: 200px;
    height: 30px;
    background-image: url("/images/color-question.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
